### Moammer Kayada Kamal
### 2209106039
### A2'22
### Posttest 4

### link dataset
### https://drive.google.com/file/d/1GTT-9sbey8zlqMAcwvW_e7P7idnlR78O/view?usp=drive_link

### pertama import library yang dibutuhkan dan juga import dataset

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [23]:
yada =pd.read_csv('Loan_Default.csv')
yada.head(20)

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0
5,24895,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,EXP,864,EXP,35-44,not_inst,70.089286,North,direct,0,40.0
6,24896,2019,cf,Joint,pre,type1,p3,l1,nopc,nob/c,...,EXP,860,EXP,55-64,to_inst,79.109589,North,direct,0,44.0
7,24897,2019,NaN,Female,nopre,type1,p4,l1,nopc,nob/c,...,CIB,863,CIB,55-64,to_inst,86.525974,North,direct,0,42.0
8,24898,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,...,CIB,580,EXP,55-64,to_inst,78.765690,central,direct,0,44.0
9,24899,2019,cf,Sex Not Available,nopre,type3,p3,l1,nopc,nob/c,...,CIB,788,EXP,55-64,to_inst,63.444767,south,direct,0,30.0
10,24900,2019,cf,Male,nopre,type2,p3,l2,nopc,b/c,...,EXP,723,CIB,55-64,to_inst,81.250000,North,direct,1,44.0
11,24901,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,EXP,501,EXP,35-44,to_inst,65.889831,south,direct,0,36.0
12,24902,2019,cf,Joint,nopre,type2,p3,l1,nopc,b/c,...,CRIF,884,EXP,65-74,to_inst,80.038760,North,direct,1,51.0
13,24903,2019,cf,Joint,nopre,type2,p4,l1,nopc,b/c,...,CRIF,520,EXP,55-64,to_inst,85.925197,North,direct,0,NaN
14,24904,2019,cf,Female,nopre,type1,p4,l1,nopc,nob/c,...,CIB,773,CIB,35-44,to_inst,76.006711,North,direct,0,39.0
15,24905,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,685,CIB,45-54,not_inst,55.434783,North,direct,1,20.0
16,24906,2019,cf,Joint,nopre,type2,p1,l1,nopc,b/c,...,CRIF,846,EXP,25-34,not_inst,96.875000,North,direct,1,44.0
17,24907,2019,cf,Male,pre,type1,p3,l1,nopc,nob/c,...,CRIF,534,CIB,65-74,to_inst,93.154762,North,direct,1,44.0
18,24908,2019,cf,Female,nopre,type1,p1,l1,nopc,nob/c,...,CIB,629,CIB,45-54,not_inst,67.976589,North,direct,0,44.0
19,24909,2019,cf,Sex Not Available,nopre,type1,p4,l1,nopc,nob/c,...,CIB,688,EXP,55-64,to_inst,78.409091,south,direct,0,31.0

### lakukan pengecekan dataset

In [3]:
yada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         148670 non-null  int64
 1   year                       148670 non-null  int64
 2   loan_limit                 145326 non-null  object
 3   Gender                     148670 non-null  object
 4   approv_in_adv              147762 non-null  object
 5   loan_type                  148670 non-null  object
 6   loan_purpose               148536 non-null  object
 7   Credit_Worthiness          148670 non-null  object
 8   open_credit                148670 non-null  object
 9   business_or_commercial     148670 non-null  object
 10  loan_amount                148670 non-null  int64
 11  rate_of_interest           112231 non-null  float64
 12  Interest_rate_spread       112031 non-null  float64
 13  Upfront_charges            109028 non-null  float64
 14  term                       148629 non-null  float64
 15  Neg_ammortization          148549 non-null  object
 16  interest_only              148670 non-null  object
 17  lump_sum_payment           148670 non-null  object
 18  property_value             133572 non-null  float64
 19  construction_type          148670 non-null  object
 20  occupancy_type             148670 non-null  object
 21  Secured_by                 148670 non-null  object
 22  total_units                148670 non-null  object
 23  income                     139520 non-null  float64
 24  credit_type                148670 non-null  object
 25  Credit_Score               148670 non-null  int64
 26  co-applicant_credit_type   148670 non-null  object
 27  age                        148470 non-null  object
 28  submission_of_application  148470 non-null  object
 29  LTV                        133572 non-null  float64
 30  Region                     148670 non-null  object
 31  Security_Type              148670 non-null  object
 32  Status                     148670 non-null  int64
 33  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(5), object(21)
memory usage: 38.6+ MB

### bagi dataset menjadi data training dan data testing dengan proporsi 70:30

In [4]:
x =yada.drop('approv_in_adv', axis=1)
y=yada['approv_in_adv']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

### Normalisasi

In [6]:
yada_2 = yada.copy()

scale =MinMaxScaler()
scaledData= scale.fit_transform(yada_2[['dtir1']])
yada_2['dtir1'] = scaledData

print('kolom dtir1 sebelum Normalisasi')
print(yada['dtir1'].describe())
print('\n')
print('kolom dtir1 setelah Normalisasi')
print(yada_2['dtir1'].describe())

kolom dtir1 sebelum Normalisasi
count    124549.000000
mean         37.732932
std          10.545435
min           5.000000
25%          31.000000
50%          39.000000
75%          45.000000
max          61.000000
Name: dtir1, dtype: float64


kolom dtir1 setelah Normalisasi
count    124549.000000
mean          0.584517
std           0.188311
min           0.000000
25%           0.464286
50%           0.607143
75%           0.714286
max           1.000000
Name: dtir1, dtype: float64

### Standarisasi

In [8]:
yada_3 =yada.copy()

scaler = StandardScaler()
scaledData = scaler.fit_transform(yada_3[['dtir1']])
yada_3['dtir1'] = scaledData

print('Standar deviasi pada kolom dtir1 sebelum di standarisasi')
print(np.std(yada['dtir1']))
print('\n')
print('Standar deviasi pada kolom dtir1 setelah di standarisasi')
print(np.std(yada_3['dtir1']))

Standar deviasi pada kolom dtir1 sebelum di standarisasi
10.545392595306174


Standar deviasi pada kolom dtir1 setelah di standarisasi
0.9999999999999999

### Lakukan pengecekan data null

In [9]:
yada.isna().sum()

ID                               0
year                             0
loan_limit                    3344
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

### Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus),untuk itu di sini hanya mempunyai 2 tipe yaitu float dan object.

In [14]:
yada_4= yada.copy()
yada_4['loan_limit'].fillna(yada_4['loan_limit'].mode()[0],inplace=True)
yada_4['approv_in_adv'].fillna(yada_4['approv_in_adv'].mode()[0],inplace=True)
yada_4['loan_purpose'].fillna(yada_4['loan_purpose'].mode()[0],inplace=True)
yada_4['Neg_ammortization'].fillna(yada_4['Neg_ammortization'].mode()[0],inplace=True)
yada_4['income'].fillna(yada_4['income'].mode()[0],inplace=True)
yada_4['dtir1'].fillna(yada_4['dtir1'].mode()[0],inplace=True)

yada_4['rate_of_interest'].fillna(yada_4['rate_of_interest'].mean(),inplace=True)
yada_4['Interest_rate_spread'].fillna(yada_4['Interest_rate_spread'].mean(),inplace=True)
yada_4['Upfront_charges'].fillna(yada_4['Upfront_charges'].mean(),inplace=True)
yada_4['term'].fillna(yada_4['term'].mean(),inplace=True)
yada_4['property_value'].fillna(yada_4['property_value'].mean(),inplace=True)

### Lakukan  pengecekan data null

In [16]:
yada_4.duplicated().sum()

0

### saya akan menghapus data duplikat tetapi karena data saya tidak ada yang terduplikat maka saya akan membuatnya sendiri dengan perintah iloc dan dibagian jumlah datanya bebas.(data copy 4)

In [17]:
yada_4.iloc[9000, :]=yada_4.iloc[9001, :]
yada_4.duplicated().sum()

1

In [18]:
duplicates = yada_4.duplicated()
print(yada_4[duplicates])

         ID  year loan_limit             Gender approv_in_adv loan_type  \
9001  33891  2019         cf  Sex Not Available         nopre     type3

     loan_purpose Credit_Worthiness open_credit business_or_commercial  ...  \
9001           p4                l1        nopc                  nob/c  ...

      credit_type  Credit_Score  co-applicant_credit_type  age  \
9001          EXP           852                       EXP  >74

      submission_of_application        LTV Region Security_Type  Status dtir1
9001                    to_inst  94.471154  south        direct       0  37.0

[1 rows x 34 columns]

### hapus lalu kita tampilkan kembali

In [19]:
yada_4.drop_duplicates(inplace=True)
yada.duplicated().sum()

0

In [20]:
duplicates = yada_4.duplicated()
print(yada_4[duplicates])

Empty DataFrame
Columns: [ID, year, loan_limit, Gender, approv_in_adv, loan_type, loan_purpose, Credit_Worthiness, open_credit, business_or_commercial, loan_amount, rate_of_interest, Interest_rate_spread, Upfront_charges, term, Neg_ammortization, interest_only, lump_sum_payment, property_value, construction_type, occupancy_type, Secured_by, total_units, income, credit_type, Credit_Score, co-applicant_credit_type, age, submission_of_application, LTV, Region, Security_Type, Status, dtir1]
Index: []

[0 rows x 34 columns]

### Ganti tipe data salah satu attribute angka term saya ganti dari float64 menjadi int64

In [21]:
print(f"{yada_4['term'].dtypes}")

float64

In [22]:
yada_4['term']= yada_4['term'].astype('int64')
print(f"{yada_4['term'].dtypes}")

int64

### One-hot Encoding pada attribute yang nilai dalamnya lebih dari 2

In [25]:
one_enc=pd.get_dummies(yada[['Region']])
yada_5= yada.join(one_enc.astype('int64'))
yada_5.drop('Region', axis=1, inplace=True)

In [26]:
yada_5.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,age,submission_of_application,LTV,Security_Type,Status,dtir1,Region_North,Region_North-East,Region_central,Region_south
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,25-34,to_inst,98.728814,direct,1,45.0,0,0,0,1
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,55-64,to_inst,NaN,direct,1,NaN,1,0,0,0
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,35-44,to_inst,80.019685,direct,0,46.0,0,0,0,1
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,45-54,not_inst,69.376900,direct,0,42.0,1,0,0,0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,25-34,not_inst,91.886544,direct,0,39.0,1,0,0,0