Nama: Moammer Kayada Kamal
NIM : 2209106039
Informatika A'22
Posttest 2

link dataset
https://drive.google.com/file/d/1GTT-9sbey8zlqMAcwvW_e7P7idnlR78O/view?usp=drive_link

Pertama kita import pandas dan prettytablenya

In [1]:
import pandas as pd
import prettytable as prtl

Lalu kita import datasetnya,
Kemudian kita tampilkan statistik dari attribut bertipe angka

In [2]:
yada = pd.read_csv("Loan_Default.csv")
yada.describe()

,ID,year,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,Status,dtir1
count,148670.000000,148670.0,1.486700e+05,112231.000000,112031.000000,109028.000000,148629.000000,1.335720e+05,139520.000000,148670.000000,133572.000000,148670.000000,124549.000000
mean,99224.500000,2019.0,3.311177e+05,4.045476,0.441656,3224.996127,335.136582,4.978935e+05,6957.338876,699.789103,72.746457,0.246445,37.732932
std,42917.476598,0.0,1.839093e+05,0.561391,0.513043,3251.121510,58.409084,3.599353e+05,6496.586382,115.875857,39.967603,0.430942,10.545435
min,24890.000000,2019.0,1.650000e+04,0.000000,-3.638000,0.000000,96.000000,8.000000e+03,0.000000,500.000000,0.967478,0.000000,5.000000
25%,62057.250000,2019.0,1.965000e+05,3.625000,0.076000,581.490000,360.000000,2.680000e+05,3720.000000,599.000000,60.474860,0.000000,31.000000
50%,99224.500000,2019.0,2.965000e+05,3.990000,0.390400,2596.450000,360.000000,4.180000e+05,5760.000000,699.000000,75.135870,0.000000,39.000000
75%,136391.750000,2019.0,4.365000e+05,4.375000,0.775400,4812.500000,360.000000,6.280000e+05,8520.000000,800.000000,86.184211,0.000000,45.000000
max,173559.000000,2019.0,3.576500e+06,8.000000,3.357000,60000.000000,360.000000,1.650800e+07,578580.000000,900.000000,7831.250000,1.000000,61.000000

Kedua kita tampilkan info bentuk dari dataset

In [3]:
yada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         148670 non-null  int64
 1   year                       148670 non-null  int64
 2   loan_limit                 145326 non-null  object
 3   Gender                     148670 non-null  object
 4   approv_in_adv              147762 non-null  object
 5   loan_type                  148670 non-null  object
 6   loan_purpose               148536 non-null  object
 7   Credit_Worthiness          148670 non-null  object
 8   open_credit                148670 non-null  object
 9   business_or_commercial     148670 non-null  object
 10  loan_amount                148670 non-null  int64
 11  rate_of_interest           112231 non-null  float64
 12  Interest_rate_spread       112031 non-null  float64
 13  Upfront_charges            109028 non-null  float64
 14  term                       148629 non-null  float64
 15  Neg_ammortization          148549 non-null  object
 16  interest_only              148670 non-null  object
 17  lump_sum_payment           148670 non-null  object
 18  property_value             133572 non-null  float64
 19  construction_type          148670 non-null  object
 20  occupancy_type             148670 non-null  object
 21  Secured_by                 148670 non-null  object
 22  total_units                148670 non-null  object
 23  income                     139520 non-null  float64
 24  credit_type                148670 non-null  object
 25  Credit_Score               148670 non-null  int64
 26  co-applicant_credit_type   148670 non-null  object
 27  age                        148470 non-null  object
 28  submission_of_application  148470 non-null  object
 29  LTV                        133572 non-null  float64
 30  Region                     148670 non-null  object
 31  Security_Type              148670 non-null  object
 32  Status                     148670 non-null  int64
 33  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(5), object(21)
memory usage: 38.6+ MB

Ketiga kita tampilkan 10 record pertama dari dataset dengan attribut bertipe angka

In [4]:
yada.select_dtypes(include=["int64", "float64"]).head(10)

,ID,year,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,property_value,income,Credit_Score,LTV,Status,dtir1
0,24890,2019,116500,NaN,NaN,NaN,360.0,118000.0,1740.0,758,98.728814,1,45.0
1,24891,2019,206500,NaN,NaN,NaN,360.0,NaN,4980.0,552,NaN,1,NaN
2,24892,2019,406500,4.560,0.2000,595.00,360.0,508000.0,9480.0,834,80.019685,0,46.0
3,24893,2019,456500,4.250,0.6810,NaN,360.0,658000.0,11880.0,587,69.376900,0,42.0
4,24894,2019,696500,4.000,0.3042,0.00,360.0,758000.0,10440.0,602,91.886544,0,39.0
5,24895,2019,706500,3.990,0.1523,370.00,360.0,1008000.0,10080.0,864,70.089286,0,40.0
6,24896,2019,346500,4.500,0.9998,5120.00,360.0,438000.0,5040.0,860,79.109589,0,44.0
7,24897,2019,266500,4.125,0.2975,5609.88,360.0,308000.0,3780.0,863,86.525974,0,42.0
8,24898,2019,376500,4.875,0.7395,1150.00,360.0,478000.0,5580.0,580,78.765690,0,44.0
9,24899,2019,436500,3.490,-0.2776,2316.50,360.0,688000.0,6720.0,788,63.444767,0,30.0

Keempat kita tampilkan informasi jumlah record, jumlah attribut, nama attribut, dan jumlah attribut bertipe angka

In [5]:
data = {}

data['Jumlah Record'] = yada.shape[0]
data['Jumlah Attribute'] = yada.shape[1]
data['Nama Attribute'] = yada.columns.tolist()
data['Jumlah Attribute Dengan Tipe Angka'] = yada.select_dtypes(include=['int64', 'float64']).shape[1]

dictKeys = list(data.keys())

table = prtl.PrettyTable()
table.add_column(dictKeys[0], [data['Jumlah Record']])
table.add_column(dictKeys[1], [data['Jumlah Attribute']])
table.add_column(dictKeys[2], ['\n'.join(data['Nama Attribute'])])
table.add_column(dictKeys[3], [data['Jumlah Attribute Dengan Tipe Angka']])
print(table)

+---------------+------------------+---------------------------+------------------------------------+
| Jumlah Record | Jumlah Attribute |       Nama Attribute      | Jumlah Attribute Dengan Tipe Angka |
+---------------+------------------+---------------------------+------------------------------------+
|     148670    |        34        |             ID            |                 13                 |
|               |                  |            year           |                                    |
|               |                  |         loan_limit        |                                    |
|               |                  |           Gender          |                                    |
|               |                  |       approv_in_adv       |                                    |
|               |                  |         loan_type         |                                    |
|               |                  |        loan_purpose       |                                    |
|               |                  |     Credit_Worthiness     |                                    |
|               |                  |        open_credit        |                                    |
|               |                  |   business_or_commercial  |                                    |
|               |                  |        loan_amount        |                                    |
|               |                  |      rate_of_interest     |                                    |
|               |                  |    Interest_rate_spread   |                                    |
|               |                  |      Upfront_charges      |                                    |
|               |                  |            term           |                                    |
|               |                  |     Neg_ammortization     |                                    |
|               |                  |       interest_only       |                                    |
|               |                  |      lump_sum_payment     |                                    |
|               |                  |       property_value      |                                    |
|               |                  |     construction_type     |                                    |
|               |                  |       occupancy_type      |                                    |
|               |                  |         Secured_by        |                                    |
|               |                  |        total_units        |                                    |
|               |                  |           income          |                                    |
|               |                  |        credit_type        |                                    |
|               |                  |        Credit_Score       |                                    |
|               |                  |  co-applicant_credit_type |                                    |
|               |                  |            age            |                                    |
|               |                  | submission_of_application |                                    |
|               |                  |            LTV            |                                    |
|               |                  |           Region          |                                    |
|               |                  |       Security_Type       |                                    |
|               |                  |           Status          |                                    |
|               |                  |           dtir1           |                                    |
+---------------+------------------+---------------------------+------------------------------------+

Kelima
kita tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir (039)
hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice (iloc dan loc).

In [6]:
yada.iloc[39:, 3:]

,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,rate_of_interest,Interest_rate_spread,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
39,Male,nopre,type1,p4,l1,nopc,nob/c,396500,NaN,NaN,...,CRIF,799,CIB,35-44,not_inst,94.856459,North,direct,1,42.0
40,Male,nopre,type1,p3,l1,nopc,nob/c,396500,4.990,0.6835,...,EXP,766,CIB,35-44,to_inst,75.094697,south,direct,0,30.0
41,Female,pre,type2,p3,l1,nopc,b/c,166500,3.990,1.2351,...,CIB,868,CIB,35-44,to_inst,84.090909,central,direct,0,56.0
42,Male,nopre,type3,p4,l1,nopc,nob/c,466500,NaN,NaN,...,EQUI,765,EXP,45-54,to_inst,NaN,North,direct,1,NaN
43,Male,nopre,type2,p4,l1,nopc,b/c,236500,NaN,NaN,...,CRIF,673,CIB,35-44,to_inst,95.362903,central,direct,1,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,436500,3.125,0.2571,...,CIB,659,EXP,55-64,to_inst,71.792763,south,direct,0,48.0
148666,Male,nopre,type1,p1,l1,nopc,nob/c,586500,5.190,0.8544,...,CIB,569,CIB,25-34,not_inst,74.428934,south,direct,0,15.0
148667,Male,nopre,type1,p4,l1,nopc,nob/c,446500,3.125,0.0816,...,CIB,702,EXP,45-54,not_inst,61.332418,North,direct,0,49.0
148668,Female,nopre,type1,p4,l1,nopc,nob/c,196500,3.500,0.5824,...,EXP,737,EXP,55-64,to_inst,70.683453,North,direct,0,29.0
148669,Female,nopre,type1,p3,l1,nopc,nob/c,406500,4.375,1.3871,...,CIB,830,CIB,45-54,not_inst,72.849462,North,direct,0,44.0

In [7]:
yada.loc[39:, data["Nama Attribute"][3:]]

,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,rate_of_interest,Interest_rate_spread,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
39,Male,nopre,type1,p4,l1,nopc,nob/c,396500,NaN,NaN,...,CRIF,799,CIB,35-44,not_inst,94.856459,North,direct,1,42.0
40,Male,nopre,type1,p3,l1,nopc,nob/c,396500,4.990,0.6835,...,EXP,766,CIB,35-44,to_inst,75.094697,south,direct,0,30.0
41,Female,pre,type2,p3,l1,nopc,b/c,166500,3.990,1.2351,...,CIB,868,CIB,35-44,to_inst,84.090909,central,direct,0,56.0
42,Male,nopre,type3,p4,l1,nopc,nob/c,466500,NaN,NaN,...,EQUI,765,EXP,45-54,to_inst,NaN,North,direct,1,NaN
43,Male,nopre,type2,p4,l1,nopc,b/c,236500,NaN,NaN,...,CRIF,673,CIB,35-44,to_inst,95.362903,central,direct,1,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,436500,3.125,0.2571,...,CIB,659,EXP,55-64,to_inst,71.792763,south,direct,0,48.0
148666,Male,nopre,type1,p1,l1,nopc,nob/c,586500,5.190,0.8544,...,CIB,569,CIB,25-34,not_inst,74.428934,south,direct,0,15.0
148667,Male,nopre,type1,p4,l1,nopc,nob/c,446500,3.125,0.0816,...,CIB,702,EXP,45-54,not_inst,61.332418,North,direct,0,49.0
148668,Female,nopre,type1,p4,l1,nopc,nob/c,196500,3.500,0.5824,...,EXP,737,EXP,55-64,to_inst,70.683453,North,direct,0,29.0
148669,Female,nopre,type1,p3,l1,nopc,nob/c,406500,4.375,1.3871,...,CIB,830,CIB,45-54,not_inst,72.849462,North,direct,0,44.0

Keenam
kita tampilkan jumlah nilai dari semua attribute yang bernilai object

In [8]:
listobject = yada.select_dtypes(include=["object"]).columns.tolist()
listobject.pop(0)

for i in listobject:
    print(yada[i].value_counts())

Male                 42346
Joint                41399
Sex Not Available    37659
Female               27266
Name: Gender, dtype: int64
nopre    124621
pre       23141
Name: approv_in_adv, dtype: int64
type1    113173
type2     20762
type3     14735
Name: loan_type, dtype: int64
p3    55934
p4    54799
p1    34529
p2     3274
Name: loan_purpose, dtype: int64
l1    142344
l2      6326
Name: Credit_Worthiness, dtype: int64
nopc    148114
opc        556
Name: open_credit, dtype: int64
nob/c    127908
b/c       20762
Name: business_or_commercial, dtype: int64
not_neg    133420
neg_amm     15129
Name: Neg_ammortization, dtype: int64
not_int     141560
int_only      7110
Name: interest_only, dtype: int64
not_lpsm    145286
lpsm          3384
Name: lump_sum_payment, dtype: int64
sb    148637
mh        33
Name: construction_type, dtype: int64
pr    138201
ir      7340
sr      3129
Name: occupancy_type, dtype: int64
home    148637
land        33
Name: Secured_by, dtype: int64
1U    146480
2U      1477
3U       393
4U       320
Name: total_units, dtype: int64
CIB     48152
CRIF    43901
EXP     41319
EQUI    15298
Name: credit_type, dtype: int64
CIB    74392
EXP    74278
Name: co-applicant_credit_type, dtype: int64
45-54    34720
35-44    32818
55-64    32534
65-74    20744
25-34    19142
>74       7175
<25       1337
Name: age, dtype: int64
to_inst     95814
not_inst    52656
Name: submission_of_application, dtype: int64
North         74722
south         64016
central        8697
North-East     1235
Name: Region, dtype: int64
direct      148637
Indriect        33
Name: Security_Type, dtype: int64